
\.vs/

src/Application/App\.Application\.Authentication/bin/

src/Application/App\.Application\.Authentication/obj/

src/Domain/App\.Domain/bin/

src/Domain/App\.Domain/obj/

src/Infra/Bootstrap/App\.Infra\.Bootstrap/bin/

src/Infra/Bootstrap/App\.Infra\.Bootstrap/obj/

src/Infra/CrossCutting/App\.Infra\.CrossCutting/bin/

src/Infra/CrossCutting/App\.Infra\.CrossCutting/obj/

src/Infra/Data/App\.Infra\.Data/bin/

src/Infra/Data/App\.Infra\.Data/obj/

src/Infra/Integration/App\.Infra\.Integration\.Datadog/obj/

src/Infra/Integration/App\.Infra\.Integration\.SendGrid/obj/

src/Infra/Integration/App\.Infra\.Integration\.Sentry/obj/

src/Infra/Integration/App\.Infra\.Integration\.Vault/bin/

src/Infra/Integration/App\.Infra\.Integration\.Vault/obj/

src/Infra/Integration/App\.Integration\.Aws/obj/

src/Infra/Integration/App\.Integration\.RabbitMq/obj/

src/Presentation/App\.WebApi/bin/

src/Presentation/App\.WebApi/obj/

src/Infra/Integration/App\.Infra\.Integration\.Datadog/bin/

src/Infra/Integration/App\.Infra\.Integration\.SendGrid/bin/

src/Infra/Integration/App\.Infra\.Integration\.Sentry/bin/

src/Infra/Integration/App\.Integration\.Aws/bin/

src/Infra/Integration/App\.Integration\.RabbitMq/bin/

src/Infra/Integration/App\.Infra\.Integration\.Twilio/bin/

src/Infra/Integration/App\.Infra\.Integration\.Twilio/obj/

src/Infra/Integration/App\.Infra\.Integration\.Redis/bin/

src/Infra/Integration/App\.Infra\.Integration\.Redis/obj/

src/Infra/Integration/App\.Infra\.Integration\.Aws/obj/

src/Infra/Integration/App\.Infra\.Integration\.Aws/bin/

src/Infra/Integration/App\.Infra\.Integration\.RabbitMq/obj/

src/Infra/Integration/App\.Infra\.Integration\.RabbitMq/bin/

src/Infra/Implementations/App\.Infra\.Implementation\.Geolocation/obj/

src/Infra/Implementations/App\.Infra\.Implementation\.Geolocation/bin/
